@use './../mixins' as *;

.eht {

  &-page {

    @include sm {

      .sidebar {
        display: none;
      }
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
    gap: 3rem;

    @include sm {
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
  }

  &__head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 3rem 4rem 3.7rem 4rem;
    border-radius: 2rem 2rem 0 0;
    background-color: var(--blue);

    @include sm {
      flex-direction: column;
      align-items: flex-start;
      padding: 2rem;
    }

    &-progress {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.4rem 1.8rem;

      @include sm {
        flex-direction: column-reverse;
        align-items: flex-start;
        width: 100%;
      }

      progress {
        background: var(--medium-gray-20);
        color: var(--lime-green);

        display: block;
        width: 34rem;
        height: 1rem;
        border-radius: 10rem;
        appearance: none;
        -webkit-appearance: none;
        border: none;
        overflow: hidden;
        cursor: default;

        @include sm {
          width: 100%;
        }

        &::-webkit-progress-bar {
          background: var(--medium-gray-20);
          border-radius: 10rem;
        }

        &::-webkit-progress-value {
          background: var(--lime-green);
          border-radius: 10rem;
          transition: width 0.4s ease;
        }

        &[value="0"]::-webkit-progress-value {
          background: var(--medium-gray-20);
        }
      }

      span {
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 110%;
        color: var(--white);
      }
    }

    &-text {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      gap: 0.5rem;

      font-weight: 500;
      font-size: 2.2rem;
      line-height: 120%;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: var(--white);

      i {
        --font-size: 3.4rem;
      }
    }
  }

  &__body {}

  &__item {
    min-height: 26.5rem;
    padding-bottom: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

    border-radius: 1.5rem;
    box-shadow: 0 4px 15px 0 rgba(94, 58, 67, 0.15);
    background: #fff;

    @include sm {
      min-height: 20rem;
    }

    img {
      width: 100%;
      height: auto;
    }

    &-title {
      margin: 2rem 0.5rem;

      font-weight: 700;
      font-size: 1.6rem;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      text-align: center;
      color: #1d2d8c;
    }
  }
}

.eht-internal {
  &__box {
    padding: 4rem;

    display: flex;
    flex-direction: column;
    gap: 3.5rem;

    border-radius: 1.5rem;
    box-shadow: 0 4px 15px 0 rgba(94, 58, 67, 0.15);
    background: #fff;

    @include sm {
      padding: 2rem;
      gap: 2rem;
    }
  }

  &__header {
    width: 100%;

    display: flex;
    justify-content: start;
    align-items: center;
    gap: 2rem;

    &-img {
      width: 6.5rem;
    }

    &-title {
      font-weight: 700;
      font-size: 1.6rem;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #1d2d8c;
    }
  }

  &__items {
    padding: 4rem;
    display: grid;
    gap: 1.5rem;
    border-radius: 1rem;
    background: #f8f9fe;

    @include sm {
      padding: 2rem;
    }
  }

  &__item {
    padding: 2.4rem 2.4rem 2.4rem 4rem;
    border-radius: 1.5rem;
    box-shadow: 0 4px 15px 0 rgba(94, 58, 67, 0.15);
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    @include sm {
      padding: 1.4rem;
      flex-direction: column;
    }

    &-title {
      font-family: var(--second-family);
      font-weight: 700;
      font-size: 2rem;
      line-height: 120%;
      color: #1d2d8c;
    }

    &-start {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;

      font-family: var(--second-family);
      font-weight: 700;
      font-size: 1.5rem;
      line-height: 120%;
      text-align: right;
      color: #1d2d8c;
    }

    &-progress {
      width: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;

      font-weight: 500;
      font-size: 1.4rem;
      line-height: 110%;
      text-align: center;
      color: #636363;

      z-index: 10;

      &-track {
        position: relative;
        border-radius: 10rem;
        width: 7rem;
        height: 0.8rem;

        background: rgba(#636363, 0.2);
      }

      &-thumb {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 10%;
        border-radius: 10rem;

        background-color: #9F248F;
      }
    }
  }
}

.eht-result {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 7rem;
  background: var(--white);
  box-shadow: 0px 4px 15px rgba(94, 58, 67, 0.15);
  border-radius: 1.5rem;

  @include sm {
    padding: 3rem 2rem;
  }

  &__title {
    margin-bottom: 6rem;

    font-family: var(--second-family);
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 120%;
    color: var(--blue);

    @include sm {
      margin-bottom: 3rem;
    }
  }

  &__success {

    span {
      color: var(--lime-green);
    }
  }

  &__fail {

    span {
      color: var(--red);
    }
  }

  &__passed {

    span {
      color: var(--bright-orange);
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-bottom: 4rem;

    @include sm {
      gap: 2rem;
      margin-bottom: 3rem;
    }
  }

  &__diagramm {
    position: relative;

    &-wrap {
      display: flex;
      flex-direction: column;
      align-items: center;

      text-align: center;
    }

    &-text {
      font-weight: 500;
      font-size: 1.8rem;
      line-height: 130%;

      span {}
    }

    &-wrap {}

    &-ring {
      transform: rotate(-90deg) scale(1, -1);
    }

    &-circle {
      transition: stroke-dashoffset 0.35s;
      transform-origin: 50% 50%;
    }

    &-value {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      font-weight: 500;
      font-size: 4.2rem;
      line-height: 120%;
      text-align: center;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: var(--medium-gray);
    }
  }

  &__foot {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;

    @include sm {
      flex-direction: column;
    }

    .btn {
      min-width: 24.2rem;

      @include sm {
        width: 100%;
        min-width: unset;
      }
    }
  }
}