@use './../mixins' as *;

.eht{
  &__items{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
    gap: 3rem;
    @include sm {
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }
  }

  &__item{
    min-height: 26.5rem;
    padding-bottom: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

    border-radius: 1.5rem;
    box-shadow: 0 4px 15px 0 rgba(94, 58, 67, 0.15);
    background: #fff;
    @include sm {
      min-height: 20rem;
    }
    img{
      width: 100%;
      height: auto;
    }

    &-title{
      margin: 2rem 0.5rem;

      font-weight: 700;
      font-size: 1.6rem;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      text-align: center;
      color: #1d2d8c;
    }
  }
}

.eht-internal{
  &__box{
    padding: 4rem;

    display: flex;
    flex-direction: column;
    gap: 3.5rem;

    border-radius: 1.5rem;
    box-shadow: 0 4px 15px 0 rgba(94, 58, 67, 0.15);
    background: #fff;

    @include sm {
      padding: 2rem;
      gap: 2rem;
    }
  }
  &__header{
    width: 100%;

    display: flex;
    justify-content: start;
    align-items: center;
    gap: 2rem;
    &-img{
      width: 6.5rem;
    }
    &-title{
      font-weight: 700;
      font-size: 1.6rem;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #1d2d8c;
    }
  }
  &__items{
    padding: 4rem;
    display: grid;
    gap: 1.5rem;
    border-radius: 1rem;
    background: #f8f9fe;
      @include sm {
      padding: 2rem;
    }
  }
  &__item{
    padding: 2.4rem 2.4rem 2.4rem 4rem;
    border-radius: 1.5rem;
    box-shadow: 0 4px 15px 0 rgba(94, 58, 67, 0.15);
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    @include sm {
      padding: 1.4rem;
      flex-direction: column;
    }
    &-title{
      font-family: var(--second-family);
      font-weight: 700;
      font-size: 2rem;
      line-height: 120%;
      color: #1d2d8c;
    }
    &-start{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;

      font-family: var(--second-family);
      font-weight: 700;
      font-size: 1.5rem;
      line-height: 120%;
      text-align: right;
      color: #1d2d8c;
    }
    &-progress{
      width: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;

      font-weight: 500;
      font-size: 1.4rem;
      line-height: 110%;
      text-align: center;
      color: #636363;

      z-index: 10;

      &-track{
        position: relative;
        border-radius: 100px;
        width: 7rem;
        height: 0.8rem;

        background: rgba(#636363, 0.2);
      }
      &-thumb{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 10%;
        border-radius: 100px;

        background-color: #9F248F;
      }
    }
  }
}