@use './../mixins' as *;

.lessons {
  display: flex;
  flex-direction: column;

  &__block {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding-bottom: 7rem;

    @include sm {
      gap: 2rem;
      padding-bottom: 3rem;
    }

    &--1 {

      .lessons {

        &__cover {
          top: -0.7rem;
          right: 10.2rem;

          @include sm {
            top: unset;
            right: unset;
            bottom: 4rem;
            left: 0;
          }
        }

        &__item {

          &--1 {
            top: 0;
            left: 5.7rem;

            @include sm {}
          }

          &--2 {
            top: 10.2rem;
            left: 13.1rem;

            @include sm {
              margin-left: 5.5rem;
            }
          }

          &--3 {
            top: 21.4rem;
            left: 18.7rem;

            @include sm {
              margin-top: 0.75rem;
              margin-left: 9.6rem;
            }
          }

          &--4 {
            top: 29.6rem;
            left: 28.7rem;

            @include sm {
              margin-top: -1.4rem;
              margin-left: 17.1rem;
            }
          }

          &--5 {
            top: 31.2rem;
            left: 41.1rem;

            @include sm {
              margin-top: -6.4rem;
              margin-left: 26.3rem;
            }
          }

          &--6 {
            top: 42.8rem;
            left: 46.6rem;

            @include sm {
              margin-top: 1.5rem;
              margin-left: 26rem;
            }
          }

          &--7 {
            top: 44.9rem;
            left: 58.9rem;

            @include sm {
              margin-top: 0.8rem;
              margin-left: 20.9rem;
            }
          }
        }
      }
    }

    &--2 {

      .lessons {

        &__cover {
          top: 14.5rem;
          left: 3.2rem;

          @include sm {
            top: unset;
            right: unset;
            bottom: 3rem;
            left: 0;
          }
        }

        &__item {

          &--1 {
            top: 0;
            left: 24.5rem;

            @include sm {
              margin-top: -1.3rem;
            }
          }

          &--2 {
            top: 10.2rem;
            left: 32.6rem;

            @include sm {
              margin-left: 4.9rem;
            }
          }

          &--3 {
            top: 14.2rem;
            left: 44.8rem;

            @include sm {
              margin-top: 0.7rem;
              margin-left: 9.6rem;
            }
          }

          &--4 {
            top: 18.2rem;
            left: 57rem;

            @include sm {
              margin-top: -1.4rem;
              margin-left: 17.1rem;
            }
          }

          &--5 {
            top: 28.4rem;
            left: 65.6rem;

            @include sm {
              margin-top: -6.4rem;
              margin-left: 26.3rem;
            }
          }

          &--6 {
            top: 40.8rem;
            left: 61.2rem;

            @include sm {
              margin-top: 1.5rem;
              margin-left: 26rem;
            }
          }

          &--7 {
            top: 44.8rem;
            left: 48.5rem;

            @include sm {
              margin-top: -0.8rem;
              margin-left: 20.9rem;
            }
          }

          &-block i {
            color: var(--midnight-blue);
          }
        }
      }
    }
  }

  &__heads {
    height: 11rem;
    margin-bottom: 7rem;

    position: sticky;
    top: 2rem;
    z-index: 100;

    @include sm {
      height: 17rem;
      margin-bottom: 3rem;
    }
  }

  &__head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 1.5rem 2.4rem 1.8rem 2rem;
    border-radius: 1.5rem;
    background-color: var(--dark-magenta);
    width: 100%;
    opacity: 0;
    transition: all 0.5s ease;
    pointer-events: none;

    color: var(--white);

    position: absolute;
    top: 0;
    left: 0;

    &--show {
      opacity: 1;
      pointer-events: all;
    }

    &--purple {
      background-color: var(--dark-magenta);
    }

    &--blue {
      background-color: var(--blue);
    }

    &--green {
      background-color: var(--lime-green);
    }

    @include sm {
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
    }

    &-wrap {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }

    &-title {
      font-family: var(--second-family);
      font-weight: 700;
      font-size: 3.2rem;
      line-height: 120%;

      @include sm {
        font-size: 2.4rem;
      }
    }

    &-text {
      font-weight: 500;
      font-size: 1.6rem;
      line-height: 150%;

      @include sm {
        font-size: 1.4rem;
      }
    }

    &-btn {

      @include sm {
        --btn-padding-x: 2rem;
        --btn-height: 4.2rem;

        font-size: 1.6rem;
      }
    }
  }

  &__body {
    min-height: 55.1rem;

    position: relative;

    @include sm {
      min-height: unset;
    }
  }

  &__items {

    @include sm {
      display: flex;
      flex-direction: column;
      gap: 0;
    }
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10.2rem;
    height: 10.2rem;
    border-radius: 50%;

    border: 0.2rem dashed var(--midnight-blue-30);

    position: absolute;

    @include sm {
      width: 7.6rem;
      height: 7.6rem;

      position: relative;
      top: unset !important;
      left: unset !important;
    }

    &--active {
      border: 0;

      cursor: pointer;

      .lessons__item-block {
        background-color: var(--deep-blue);

        color: var(--white);
      }
    }

    &--1 {
      border: 0.2rem solid var(--lime-green);

      color: var(--white);

      .lessons__item-block {
        background-color: var(--lime-green);
      }

      .icon-uzor {
        --font-size: 5rem;
      }
    }

    &-wrap {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.6rem;
      padding: 1.7rem 4.6rem 1.2rem 4.6rem;
      border-radius: 10rem;
      background-color: var(--midnight-blue);

      text-align: center;

      position: absolute;
      top: 1.1rem;
      left: calc(100% - 1.1rem);

      @include sm {
        padding: 0.9rem 3.2rem 0.9rem 3.2rem;

        top: 0.8rem;
        left: 6.8rem;
      }

      p {
        font-weight: 700;
        font-size: 2rem;
        line-height: 100%;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: var(--white);

        @include sm {
          font-size: 1.6rem;
        }
      }
    }

    &-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.4rem;

      span {
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 110%;
        text-align: center;
        text-transform: uppercase;
        color: var(--white-50);
      }

      progress {
        background: var(--white-20);
        color: var(--mint);

        display: block;
        width: 8.5rem;
        height: 0.4rem;
        border-radius: 0.4rem;
        appearance: none;
        -webkit-appearance: none;
        border: none;
        overflow: hidden;
        cursor: default;

        @include sm {
          width: 6.3rem;
        }

        &::-webkit-progress-bar {
          background: var(--white-20);
          border-radius: 0.4rem;
        }

        &::-webkit-progress-value {
          background: var(--mint);
          border-radius: 0.4rem;
          transition: width 0.4s ease;
        }

        &[value="0"]::-webkit-progress-value {
          background: var(--mint);
        }
      }
    }

    &-block {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 8rem;
      height: 8rem;
      border-radius: 50%;
      flex-shrink: 0;
      background-color: var(--light-gray-30);

      color: var(--medium-gray);

      @include sm {
        width: 6rem;
        height: 6rem;
      }

      i {
        --font-size: 3.2rem;
      }
    }
  }

  &__cover {
    width: auto;
    height: 41.7rem;

    position: absolute;

    @include sm {
      height: 24.5rem;
    }

    img {
      width: auto;
      height: 100%;
      object-fit: contain;
    }
  }
}