@use './../mixins' as *;

.profile {
  padding: 4rem 4rem 6rem;

  display: flex;
  flex-direction: column;
  gap: 4rem;

  border-radius: 1.5rem;
  box-shadow: 0 4px 15px 0 rgba(94, 58, 67, 0.15);
  background: #fff;

  @include sm {
    padding: 3rem 2rem;
  }

  h1.profile__title {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 120%;
    color: #1D2D8C;
  }

  h2.profile__title {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 120%;
    color: #1D2D8C;
  }

  &-edit__inputs {
    display: grid;
    grid-template-columns: repeat(2, 36.8rem);
    gap: 2rem 5rem;

    @include sm {
      grid-template-columns: 1fr;
    }

    &-col {
      display: grid;
      gap: 2rem;
      height: fit-content;

      &:nth-child(2) {

        @include dosm {
          padding-top: 3rem;
        }
      }

      .btn {
        width: 100%;
      }
    }
  }

  .user {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 3rem;

    @include sm {
      flex-direction: column;
    }

    &__avatar {
      width: 17rem;
      height: 17rem;
    }

    &__actions {
      display: flex;
      flex-direction: column;
      gap: 2.4rem;
    }

    &__info {
      display: grid;
      gap: 0.8rem;

      @include sm {
        text-align: center;
      }
    }
  }
}


.achivments {
  display: grid;
  gap: 2rem;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    @include sm {
      flex-direction: column;
      align-items: start;
    }

    &-all {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1.3rem;

      font-weight: 500;
      font-size: 1.4rem;
      line-height: 110%;
      color: var(--blue);

      i {

        &:not(.profile-page .achivments__header-all i) {
          transform: scale(-1, 1);
        }
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__item {
    width: 100%;
    padding: 1.8rem 3.6rem 1.8rem 1.8rem;

    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem 2.7rem;

    border: 0.2rem solid #e4e8ef;
    border-radius: 1.6rem;

    @include sm {
      flex-wrap: wrap;
      padding: 2rem;
    }

    &:nth-child(3n + 2) {
      border-color: #e3672a;
    }

    &:nth-child(3n + 3) {
      border-color: #fccd05;
    }

    &-img {
      width: 6.8rem;
      height: 6.2rem;

      @include sm {
        margin-inline: auto;
      }
    }

    &-descr {
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
    }

    &-title {
      font-weight: 500;
      font-size: 2rem;
      line-height: 120%;
      color: #636363;
    }

    &-subtitle {
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 150%;
      color: #9F248F;
    }

    &-progress {
      margin-left: auto;

      display: flex;
      justify-content: end;
      align-items: center;
      gap: 2rem;

      font-weight: 400;
      font-size: 1.4rem;
      line-height: 150%;
      text-align: right;
      color: #636363;

      @include sm {
        width: 100%;
      }

      &-track {
        position: relative;
        width: 34rem;
        height: 1rem;

        border-radius: 1.6rem;
        background-color: rgba(#636363, 0.2);
        overflow: hidden;

        @include sm {
          width: 100%;
        }
      }

      &-thumb {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 30%;
        border-radius: 1.6rem;
        background-color: #b4d335;
      }
    }
  }
}

.subscription {
  display: grid;
  gap: 2rem;

  &__box {
    width: 100%;
    padding: 1.4rem 1.4rem 1.4rem 3rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.5rem;

    border-radius: 2rem;
    box-shadow: 0 4px 15px 0 rgba(94, 58, 67, 0.15);
    background: #fff;

    @include sm {
      flex-direction: column;
      padding: 1.4rem;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 2rem;
    line-height: 110%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #636363;
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2.5rem;

    @include sm {

      flex-direction: column-reverse;
    }
  }

  &__change-tarif {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 120%;
    text-align: right;
    color: #1d2d8c;
  }
}