@use './../mixins' as *;

.theory {
  display: flex;
  flex-direction: column;

  &__bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.8rem;

    &-title {
      font-weight: 500;
      font-size: 1.6rem;
      line-height: 120%;
      text-transform: uppercase;
      color: var(--blue);
    }

    &-items {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem;
    }

    &-item {
      padding: 0.5rem 1rem;
      border-radius: 20rem;
      background-color: var(--dark-magenta-10);

      i {
        --font-size: 2.4rem;
      }

      span {
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 150%;
        color: var(--medium-gray);
      }
    }
  }

  &__head {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 3rem;

    &-title {
      font-family: var(--second-family);
      font-weight: 700;
      font-size: 3.2rem;
      line-height: 120%;
      color: var(--blue);
    }

    &-text {
      font-weight: 500;
      font-size: 1.6rem;
      line-height: 150%;
    }
  }

  &__body {}

  &__items {
    display: flex;
    flex-direction: column;
  }

  &__item {
    --theory-color: var(--black);
    &:not(:first-child){
      margin-top: -1rem;
    }
    &.accordion-item--active{
      z-index: 1;
    }

    &.theory--blue {
      --theory-color: var(--blue);
    }

    &.theory--orange {
      --theory-color: var(--tangerine);
    }

    &.theory--sky-blue {
      --theory-color: var(--sky-blue);
    }

    &.theory--purple {
      --theory-color: var(--dark-magenta);
    }

    &.theory--red {
      --theory-color: var(--crimson-red);
    }

    &-head {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 2rem;
      padding: 0.5rem 1.9rem 0.5rem 0.5rem;
      background-color: var(--theory-color);
      box-shadow: 0px 4px 15px rgba(94, 58, 67, 0.15);
      border-radius: 1.5rem;
      transition: all 0.3s ease;

      color: var(--white);

      .accordion-item--active & {
        background-color: var(--white);
        border-radius: 1.5rem 1.5rem 0 0;

        box-shadow: 0 4px 15px 0 rgba(94, 58, 67, 0.15);
        position: relative;
        z-index: 1;

        color: var(--theory-color);
      }
    }

    &-count {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 6rem;
      height: 6rem;
      border-radius: 1rem;
      flex-shrink: 0;
      background-color: var(--white);
      transition: all 0.3s ease;

      font-weight: 700;
      font-size: 2.4rem;
      line-height: 110%;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: var(--theory-color);

      .accordion-item--active & {
        background-color: var(--theory-color);

        color: var(--white);
      }
    }

    &-title {
      width: 100%;

      font-family: var(--second-family);
      font-weight: 700;
      font-size: 2.4rem;
      line-height: 120%;
    }

    &-icon {
      width: 3.2rem;
      height: 3.2rem;
      flex-shrink: 0;

      position: relative;

      &::before {
        content: "";
        display: block;
        width: 2.4rem;
        height: 0.2rem;
        border-radius: 0.1rem;
        background-color: var(--white);
        transition: all 0.3s ease;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .accordion-item--active & {
          background-color: var(--theory-color);
        }
      }

      &::after {
        content: "";
        display: block;
        width: 2.4rem;
        height: 0.2rem;
        border-radius: 0.1rem;
        background-color: var(--white);
        transition: all 0.3s ease;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(90deg);

        .accordion-item--active & {
          background-color: var(--theory-color);
          transform: translate(-50%, -50%) rotate(0deg);
        }
      }
    }

    &-body {
      padding: 0 2rem;
      border-radius: 0 0 1.5rem 1.5rem;
      background-color: var(--white);

      .accordion-item--active & {
        padding: 4rem 2rem;
        box-shadow: 0 4px 15px 0 rgba(94, 58, 67, 0.15);
      }
    }

    &-content {
      display: grid;
      gap: 4rem;

      &--2{
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 1.5rem;

    &-title {
      font-weight: 700;
      font-size: 1.4rem;
      line-height: 100%;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #9a9a9a;
    }

    &-list {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    &-items{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1.5rem;
    }

    &-item{
      font-weight: 400;
      font-size: 1.2rem;
      line-height: 150%;
      color: #636463;
      &--box{
        border-radius: 1.5rem;
        padding: 2rem 4rem 2rem 2rem;
        box-shadow: 0 0.4rem 1.5rem 0 rgba(94, 58, 67, 0.15);
        background: #fff;
      }
      &-col{
        display: flex;
        flex-direction: column;
        gap: 0.1rem;
      }
      &-row{
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 1rem;
        img{
          max-height: 2rem;
        }
      }
    }

    .col-2{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }

    .theory__block-table{
      width: 100%;
      border-collapse: collapse;
      border-radius: 1rem;
      box-shadow: 0 4px 15px 0 rgba(94, 58, 67, 0.15);
      background: #fff;

      th, td {
        padding: 8px;
        text-align: left;
      }

      tr:not(:last-child) > td {
          border-bottom: 1px solid #e8e8f0;
      }

      tr:not(:first-child){
        height: 5rem;
      }
      
      td {
        padding: 0.9rem 1.1rem;

        font-weight: 400;
        font-size: 1.3rem;
        line-height: 129%;
        color: #636463;
        &:not(:last-child) {
          border-right: 1px solid #e8e8f0;
        }
        &:nth-child(1){
          font-weight: 700;
          font-size: 1.4rem;
          line-height: 120%;
          color: #1D2D8C;
        }
        &:nth-child(2){
          font-weight: 500;
          font-size: 1.3rem;
          line-height: 108%;
          color: #9F248F;
          span{
            border-radius: 20px;
            padding: 5px 10px;

            background: rgba(159, 36, 143, 0.1);
          }
        }
      }

      th {
        padding: 0.7rem 1.1rem;
        background-color: #F8F9FE;

        font-weight: 700;
        font-size: 1.2rem;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #636463;
      }
    }
  }
  .theory-text-primary {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 98%;
    color: #1D2D8C;

    &.hovered{
      text-decoration: underline;
      text-decoration-skip-ink: none;
    }
  }
  .theory-text-secondary {
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 125%;
    color: #9F248F;
  }

  .accordion-item--active .accordion-content{
    overflow: visible;
  }

  .hovered{
    position: relative;
    &::before{
      content: "";
      position: absolute;
      inset: 0 0 -100% 0;
      z-index: 1;
    }
    &::after {
      content: "";
      position: absolute;
      left: 50%;
      top: calc(100% + 0.4rem);
      translate: -50% 0;
      z-index: 2;

      width: 0;
      height: 0;
      display: none;

      border-left: 0.8rem solid transparent;
      border-right: 0.8rem solid transparent;
      border-bottom: 0.8rem solid #1D2D8C;
    }
    &:hover{
      &::after{
        display: block;
      }
      .baloon {
        display: flex;
      }
    }
    .baloon{
      position: absolute;
      left: 50%;
      top: calc(100% + 1rem);
      translate: -50% 0;
      z-index: 2;

      border-radius: 0.5rem;
      width: 18.5rem;
      padding: 2rem 1.2rem 2.6rem;

      display: none;
      flex-direction: column;
      align-items: center;

      box-shadow: 0 4px 15px 0 rgba(94, 58, 67, 0.15);
      background: #1D2D8C;

      font-weight: 400;
      font-size: 1.2rem;
      line-height: 117%;
      color: rgba(255, 255, 255, 0.5);
      text-align: center;

      &:hover{
        display: flex;
      }

      &__subtitle{
        margin-bottom: 1.1rem;
        font-size: 1.4rem;
        line-height: 120%;
      }
      &__title{
        margin-bottom: 0.6rem;
        font-weight: 700;
        font-size: 1.6rem;
        line-height: 120%;
        color: #fff;
      }
      &__text{
        margin-bottom: 3.5rem;
      }
      &__btn{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.2rem;
        &-icon-box{
          width: 3.4rem;
          height: 3.5rem;
          border-radius: 1rem;
          background-color: rgba(255, 255, 255, 0.1);
        }
        &._active .baloon__btn-icon-box{
          background-color: #fff;
        }
      }
    }
  }
}
