@use './../mixins' as *;

.plate {
  display: flex;
  flex-direction: row;
  align-items: flex-end;

  position: absolute;
  right: 10rem;
  bottom: 4rem;
  z-index: 1000;

  @include sm {
    right: 2rem;
    bottom: 2rem;
  }

  &__inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    width: fit-content;
  }

  &__block {
    background-color: var(--white);
    box-shadow: 0px 4px 15px rgba(94, 58, 67, 0.15);
    border-radius: 1rem 0 1rem 1rem;
    padding: 1.2rem 1.7rem 1.1rem 1.7rem;
    min-width: 15.8rem;
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;

    span {
      font-weight: 500;
      font-size: 1.2rem;
      line-height: 120%;
      color: var(--medium-gray);
    }

    p {
      font-weight: 500;
      font-size: 1.6rem;
      line-height: 120%;
      color: var(--blue);
    }
  }

  &__cover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;

    img {
      width: auto;
      height: 100%;
      object-fit: cover;
    }
  }
}