@use './../mixins' as *;

.sidebar {
  margin-bottom: 3.1rem;

  @include dosm {
    grid-column: 7/9;
    margin-bottom: 19.5rem;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @include sm {
      gap: 1.5rem;
    }
  }
}